@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "微软雅黑", "Microsoft yahei"; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

/* ios默认文本框阴影 */
input[type=text], textarea {
  -webkit-appearance: none; }

/* 低版本安卓文本框层级问题 */
input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea, input {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12÷16=73.4% */ } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625÷16=73.2% */ } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525÷16=94% */ } }

@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18÷16=94% */ } }

@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21÷16=109% */ } }

@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24÷16=125% */ } }

@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27÷16=146.43% */ } }

@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125÷16=146.43% */ } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30÷16=146.43% */ } }

@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36÷16=146.43% */ } }

@media only screen and (min-width: 1080px) {
  html {
    font-size: 253.125% !important;
    /* 36÷16=146.43% */ } }

header {
  height: 4.2963rem;
  background-color: #fb6650;
  padding: 3.90123rem 1.1358rem 1.48148rem 1.1358rem;
  position: relative; }
  header a {
    position: absolute;
    right: 1.1358rem;
    top: 2.59259rem;
    color: #fff; }
  header dl {
    height: 4.2963rem; }
    header dl dt {
      height: 4.2963rem;
      width: 4.2963rem;
      float: left; }
      header dl dt img {
        height: 4.2963rem;
        width: 4.2963rem; }
    header dl dd {
      margin-left: 0.74074rem;
      color: #fff;
      float: left; }
      header dl dd h3 {
        font-size: 1.23457rem;
        font-weight: 700;
        height: 2.32099rem;
        line-height: 2.32099rem; }
      header dl dd p {
        font-size: 1rem;
        height: 1.97531rem;
        line-height: 1.97531rem; }

nav {
  border-top: 1px solid #e2dde1; }
  nav ul {
    width: 100%;
    height: 3.20988rem;
    padding: 0.88889rem 0 0.64198rem 0;
    background-color: #fefefe; }
    nav ul li {
      float: left;
      width: 25%;
      text-align: center; }
      nav ul li b {
        font-weight: 100;
        height: 1.60494rem;
        line-height: 1.60494rem;
        color: #333; }
      nav ul li p {
        height: 1.60494rem;
        line-height: 1.60494rem;
        color: #838383; }

.caipu {
  padding: 0.98765rem 1.1358rem;
  background-color: #f0eee2;
  height: 3.30864rem;
  background-color: #f0eee2; }
  .caipu div {
    float: left;
    width: 11.85185rem;
    line-height: 3.30864rem;
    text-align: center;
    color: #2c2c2c;
    background-color: #fefefe; }
  .caipu .write {
    margin-right: 0.69136rem; }

.module ul {
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  height: 5.97531rem; }
  .module ul li {
    float: left;
    width: 33.3%;
    border-right: 1px solid #dfdfdf;
    padding: 0.49383rem 0;
    box-sizing: border-box;
    height: 5.97531rem;
    background-color: #fefefe;
    text-align: center; }
    .module ul li i {
      font-weight: 100;
      height: 2.51852rem;
      line-height: 2.51852rem;
      color: #333;
      font-size: 2rem;
      display: block;
      color: #e28d31; }
    .module ul li p {
      height: 2.46914rem;
      line-height: 2.46914rem;
      color: #838383; }
  .module ul li:last-child {
    border-right: 0 none; }
